<html>
    <head>
        {# <!-- Add bootstrap to html page --> #}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Your New Contact Summary</title>
    </head>
    <body>
        <div class='container'>
        <h1>Here is your new contact!</h1>
        <ul>
            <div>
                <li><h4><strong>{{newcontact.getFirst}} {{newcontact.getLast}}</strong></h4></li>
                <li>Phone Number: {{newcontact.getPhone}}</li>
                <li>Address: {{newcontact.getAddress}}</li>
                <li>Email: {{newcontact.getEmail}}</li>
            </div>
        <ul>

            <button type='button' class='btn btn-success'><a href ='/add_contact'><font color='white'>Add a new contact</font></a></button>
            <button type='button' class='btn btn-primary'><a href ='/view_all_contacts'><font color='white'>View all contacts</a></button>
            <button type='button' class='btn btn-danger'><a href ='/delete_all'><font color='white'>Delete all contacts</a></button>
        </div>
    </body>
</html>
